
.CartWidget {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 8px 10px;
    border-radius: 12px;
    border: 2px solid #5C4033;
    background-color: #916C5A;
    color: #FFE6BC;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 1px 4px #000000;
}


.CartWidget svg{
    width: 28px;
    height: 28px;
    fill: currentColor;
}

.CartWidget:hover {
    background-color: #7c5949;
    box-shadow: 0 0 5px #000000;
    color: #000000;
}

.cart-label {
    font-size: 14px;
    font-weight: 500;
    color:#F8B259;
}
