.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #FFD7A3;
    width: 16.875rem;
    height: 22.5rem;
    margin: 3.125rem;
    padding: .8rem;
    box-shadow: 0 .25rem .5rem #5C4033;
    border-radius: .75rem;
    animation: scala-card 0.6s ease-in-out both;
}

@keyframes scala-card {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-img img {
    width: 90%;
    height: 9.375rem;
    object-fit: contain;
    border-radius: .5rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.info-card h2 {
    color: #C3542B;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;
    margin: .3125rem 0;
    padding: .3125rem 0;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.info-card p {
    padding: .3125rem 0;
    font-size: .9375rem;
    line-height: 1.4;
    margin-bottom: 0;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.footer-card {
    color: #D96F32;
    border-top: .0625rem solid #D96F32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding-top: .625rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-card p {
    padding-top: .375rem;
    font-size: 1.0625rem;
    margin-bottom: .5rem;
    padding-top: 0
}

.card-button{
    font-size: 16px;
}

.card-button button{
    background-color: #F8B259;
    color: #5C4033;
    font-weight: 500;
    border: 2px solid #5C4033;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.card-button button:hover {
    border: 2px solid #C3542B;
    background-color: #D96F32;
    color: #000000;
}