
.contenedor-form {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
}

form{
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 1px 4px #000000;
    border-radius: 10px;
}

label {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    color: #5A3B2E;
}

.campo, textarea {
    background-color: #FFD7A3;
    border: 1px solid #F8B259;
    width: 100%;
    padding: .625rem .3125rem;
    margin-bottom: .9375rem;
    font-size: 1rem;
    border-radius: 0.1875rem;
}

.campo:focus {
    outline: none;
    border: 1px solid #D96F32;
    box-shadow: 0 0 3px #D96F32;
}

.enviar {
    background-color: #D96F32;
    color: #FFE6BC;
    text-align: center;
    text-decoration: none;
    padding: 0.9375rem;
    font-size: 1rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.enviar:hover {
    background-color: #C3542B;
}